name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:

  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Run backend tests
        run: ./mvnw test


  frontend-e2e:
    runs-on: ubuntu-latest
    needs: backend
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Start Angular app
        run: |
          npm start &
          sleep 20

      - name: Run Selenium E2E tests
        run: npm run e2e